@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.list-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a:hover {
    color: black;
}

h1{
    color: green
}

a{
    text-decoration: none;
    color: green;
}

body{
    margin: 0;
    padding: 0;
}

main{
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100vh;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    font-size: x-large;
}

img{
    height: 200px;
}

nav{
    border-bottom: black 1px;
    padding: 16px;
}

.ingredients-table tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}